{
  "extends": "eslint-config-airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "padded-blocks": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-expressions": 0,
    "prefer-const": 0,
    "no-param-reassign": 0,
    "arrow-body-style": 0,
    "max-len": [2, {"code": 120}],
    "no-confusing-arrow": 0
  }
}
